* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 4000px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(174, 166, 166, 0.978);
}

.container {
  width: 100%;
  height: 100%;
}

.content-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

#title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 2.5rem;
  font-size: x-large;
}

.navigation-bar {
  display: flex;
  gap: 2rem;
}

#navi-content {
  display: flex;
  line-height: 2.5rem;
  gap: 2rem;
  color: rgb(107, 103, 103);
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

#home:hover {
  color: black;
}

#dropdown:hover {
  color: black;
}

#about:hover {
  color: black;
}

#services:hover {
  color: black;
}

#faq:hover {
  color: black;
}

#contact:hover {
  color: black;
}

#download-button {
  border: 1px solid rgb(21, 21, 73);
  background-color: rgb(21, 21, 73);
  color: orange;
  border-radius: 2rem;
  font-family: "Open Sans", sans-serif;
  padding: 0.6rem 1.2rem;

  transition: all 0.3s 0s linear;
}

#download-button:hover {
  color: black;
  background-color: white;
  border: 1px solid rgb(201, 197, 197);
}

.introduction-section {
  display: flex;
  margin-bottom: 6rem;
}

.introduction-content-section {
  width: 50%;
  padding: 1rem 3rem 1rem 0rem;
}

.highlight-tag {
  border: 1px rgba(251, 178, 68, 0.2);
  padding: 0.4rem 1.4rem;
  border-radius: 2rem;
  color: #fbb244;
  font-weight: 900;
  font-size: x-small;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(251, 178, 68, 0.2);
}

.main-heading-tag {
  padding-top: 0.9rem;
  color: #081158;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

.desc-tag {
  color: rgba(27, 26, 26, 0.5);
  font-family: "Open Sans", sans-serif;
  padding: 1.2rem 1rem 4rem 0rem;
}

.button-tag1 {
  background-color: #081158;
  border: 1px solid #081158;
  border-radius: 2rem;
  color: white;
  font-size: large;
  padding: 0.7rem 1.4rem;

  transition: all 0.3s 0s linear;
}

.button-tag1:hover {
  background-color: white;
  color: #081158;
}

.button-tag2 {
  /* background-color: #081158; */
  border: 1px solid #081158;
  border-radius: 2rem;
  color: #081158;
  font-size: large;
  padding: 0.7rem 1.4rem;

  transition: all 0.3s 0s linear;
}

.button-tag2:hover {
  background-color: #081158;
  color: white;
}

#picture1 {
  width: 37rem;
  height: 38rem;
}

.features-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}

.feature-content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features-decs-tag {
  text-align: center;
  max-width: 36rem;
}

.courses-section {
  display: flex;
  justify-content: space-between;
}

.marketing-course-content,
.digital-course-content,
.seo-course-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-image-tag {
  height: 50px;
  height: 60px;
}

.feature-heading-tag {
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
}

.feature-para-tag {
  color: rgba(20, 20, 20, 0.399);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  max-width: 19rem;
}

.agency-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.agency-picture-section {
  width: 60%;
}

.agency-content-section {
  width: 40%;
  padding: 2.3rem 0 1rem 3rem;
}

#agency-picture {
  width: 40rem;
  height: 32rem;
}

.agency-gap {
  padding: 0.7rem 0;
}

.service-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.service-heading-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.service-content-section {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.border-tag {
  border: 1px solid rgba(204, 200, 200, 0.382);
  padding: 1.5rem 2rem 2rem 2rem;
}

.testimonials-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(216, 211, 211, 0.214);
  padding: 7rem 10rem;
}

.testimonials-content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#testimonials-desc-tag {
  max-width: 56rem;
  text-align: center;
}

.review-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.review-content-section {
  border: 1px solid rgba(204, 200, 200, 0.382);
  border-radius: 0.6rem;
  padding: 2rem;
  background-color: white;
}

.review-para-tag {
  color: rgba(174, 166, 166, 0.978);
  text-align: left;
  padding-bottom: 2rem;
  font-size: large;
}

.about-author {
  display: flex;
}

.author-img {
  width: 3rem;
  border: 1px solid rgba(204, 200, 200, 0.382);
  border-radius: 50%;
  background-color: rgba(204, 200, 200, 0.382);
  margin-right: 1.5rem;
}

.author-desc {
  padding-top: 0.2rem;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: rgba(190, 182, 182, 0.978);
}

.author-name {
  color: rgba(115, 111, 111, 0.978);
  font-size: 1.2rem;
}

.end-section {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
}

.end-content-section {
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
}

.info-container {
  color: rgba(174, 166, 166, 0.978);
  max-width: 17rem;
  padding: 1rem 0rem;
}

.info-container-list {
  padding: 0.5rem 0;
}

.footer {
  padding: 5rem;
}

.footer-container {
  text-align: center;
  color: rgba(174, 166, 166, 0.978);
}

@media (max-width: 1292px) {
  .navigation-container {
    flex-direction: column;
    align-items: center;
  }

  .introduction-section {
    flex-direction: column;
    align-items: center;
  }

  .introduction-content-section {
    width: 80%;
  }

  .features-section {
    flex-direction: column;
  }

  .courses-section {
    flex-direction: column;
  }

  .agency-section {
    flex-direction: column;
    align-items: center;
  }

  .agency-content-section {
    width: 80%;
  }

  .service-section {
    flex-direction: column;
  }

  .service-content-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonials-section {
    flex-direction: column;
    align-items: center;
  }

  .review-section {
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
  }

  @media (max-width: 1035px) {
    .end-content-section {
      flex-direction: column;
    }

    .info-container {
      max-width: 80%;
    }
  }
}
